footer {
	text-align: center;
}

.center {
	text-align: center;
}

#loginBox, #registerBox {
	border: 2px solid black;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.inputText, .inputPassword {
	width: 50%;
}

@media (max-width: 1000px){
  #loginBox, #registerBox {
    width: 50%;
  }
}

@media (max-width: 700px){
  #loginBox, #registerBox {
    width: 95%;
  }
}

.blueButton {
	background-color: dodgerblue;
	color: white;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 14px;
	padding: 5px 15px;	
}

.blueButton:hover {
	background-color: darkblue;
}